.searchForm,
.listContainer{
    background-color: #fff;
    padding: 25px;
}
.formActionContainer{
    text-align: right;
}
.listContainer{
    margin-top: 25px;
    .itemCardAction{
        font-size: 20px !important;
    }
    .itemContent{
        color: #333;
    }
    .cardTagsContainer{
        margin-top: 10px;
        .cardTag{
            margin-top: 10px;
        }
    }
    .loadMoreContainer{
        text-align: center;
        color: #333;
        
    }
}